<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Statement upload</title>
</head>
<body>
<h1>Upload an ISO 20022 statement file</h1>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div th:if="${error}">
    <font color="red"><h2 th:text="${error}"/></font>
</div>
<form action="/statement" method="post" enctype="multipart/form-data">
    <input type="file" id="fileinput" name="statementFile"/>
    <input type="submit"/>
</form>
</body>
</html>